# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
dist
out
*.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# production

# misc
.DS_Store
resources/v2ray-core
v2ray.zip
electron.vite.config.*.mjs

# Yarn 3 files
/.pnp
.pnp.js
.pnp.cjs
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
